/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
  .features_wrap-block {
    i {
      margin: 0 15px 140px 0;
    }
  }

  .footer_subscribe {
    a {
      left: 89%;
      top: 23%;
    }
  }
  .footer_desc {
    padding: 0;
  }
  .team_text-head {
    margin: 80px 85px;
  }
}

// ≥992px
@include media-breakpoint-down(md) {
  .features_wrap-block {
    i {
      margin: 0 15px 200px 0;
    }
  }
  .contact_wrap {
    padding: 0 50px;
  }
  .contact_adress {
    h4 {
      font-size: 14.35pt;
    }
  }
  .input-email, .input-name {
    width: 45%
  }
  .input-message {
    width: 94%;
  }
  .contact_wrap {
    button {
      margin: 0 23px;
    }
  }
  .team-h {
    padding: 0;
  }
  .footer .col-4 {
    padding: 0 5px;
    a {
      top: 20%;
    }
  }
  .da-thumbs {
    height: 400px;
  }
}
// ≥768px
@include media-breakpoint-down(sm) {
}

// ≥576px
@include media-breakpoint-down(xs) {
  .text-head {
    padding-top: 10px;
  }

  .features {
    padding: 0 25px;

  }
  .features_wrap-block {
    padding: 0 2px;
    i {
      margin: 0 15px 68px 0;
    }
  }
  .features_wrap {
    ul {
      display: block;
      li {
        margin: 10px;
      }
    }
  }
  .phone, .team {
    padding: 0 20px;
  }
  .phone_text-head, .works_text-head, .team_text-head, .contact_text-head  {
    margin: 20px 5px;
  }
  .image-block {
    margin: 5px 15px 15px 25px;
    img {
      height: 100%;
    }
  }
  .team-block {
    margin: 0;
    padding: 0 25px;
  }

  .team-h {
    padding: 25px;
  }

  .facts-wrap i {
    padding: 20px;
  }

  .contact_wrap {
    padding: 0 10px;
  }
  .contact_social {
    width: 100%;
    ul {
      display: flex;
      justify-content: center;
    }
  }
  .form h2 {
    text-align: center;
  }

  .footer {
    padding: 30px;

  }
  .footer_desc {
    h2 {
      text-align: center;
    }
    p {
      padding: 0 45px;
    }
  }
  .footer_subscribe {

    input {
      //width: 300%;
    }
    h3 {
      text-align: center;
    }
    p {
      text-align: center;
    }
    a {
      left: 94%;
      top: 35%;
    }
  }
  .footer_explore {
    ul {
      padding: 0 60px;
    }
    h3 {
      text-align: center;
    }
  }

  .header_shape:after, .header_shape:before {
    top: 61px;
  }
  .header_shape:after {
    left: -75px;
  }
  .header_shape:before {
    left: 268px;
  }


  .works_buttons button {
    margin: 0
  }
}



/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {

}
